server:
  port: 8080

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/eshop}
    username: ${SPRING_DATASOURCE_USERNAME:eshop}
    password: ${SPRING_DATASOURCE_PASSWORD:eshop}
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: ${SPRING_DATA_REDIS_HOST:localhost}
      port: ${SPRING_DATA_REDIS_PORT:6379}
  sql:
    init:
      mode: always

logging:
  level:
    root: INFO
    com.eshop.webapi: INFO
